
@import './recent-lost.css';
@import "./testimonials.css";
@import './whatYouThink.css';
@import './footer.css';
@import "./search.css";
@import "./carousel.css";
@import "./navbar.css";

body{
    margin-top: 0;
   
}

.text-box h2{
    text-align: center;
    font-size: 40px;
    font-family: Garamond;
    font-weight: lighter;
    height: 70%;

}
