/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
    color: #526066;
}

h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}
#myh {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-family:'Times New Roman';
    font-weight: bold;
   
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.bigCard {
    margin: 0 auto;
  

}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em;
}

.user-story,.p{
  text-indent: 1%;
  max-width: fit-content;
  max-height: fit-content;
  text-align: justify;
}


/*
 * -- content TABLE WRAPPER --
 * This element wraps up all the content table elements
 */
 .content-tables{
    max-width: 980px;
    margin: 0 auto;
    
 }
.content-tables {
    margin-bottom: 3.125em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 
   

}

/*
 * -- content TABLE  --
 * Every content table has the .content-table class
 */
.content-table {
    /* border: 1px solid #ddd; */
    margin: 0 0.5em 1em;
    padding: 0 0 1.5em;
}

/*
 * -- content TABLE HEADER COLORS --
 * Choose a different color based on the type of content table.
 /* */
/* .content-table-free .content-table-header {
    background: #519251;
} */

/* .content-table-biz .content-table-header {
    background: #2c4985;
} */ 




/*
 * -- content TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */


    .content-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;


    }
    .content-table-header h3 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;
        
        

    }



/*
 * -- content TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.content-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .content-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
         color: black;
    }




/*
 * -- content TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each content table
 */
.content-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- content TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a content table.
 * This inherits from Pure Button.
 */

.information-head {
    color: black;
    font-weight: 500;
}


/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the divs
 */
/* @media(min-width: 767px) {

    .cardDiv {
        width :calc(200px / 1.5);
        height : calc(500px / 1.5);
    }
    .content-table {
        margin-bottom: 0;
    }

} */

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of divs
 */
@media (max-width: 768px) {
    .content-tables {
        margin-bottom: 3.125em;
        text-align: center;
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
    
    }
    
}
.text-box-up {
    text-align: center;
    /* font-size : 100%; */
    font-size: 40px;
    /* background-color: red; */
    font-family: Garamond;
    font-weight: lighter;
   height: 70%;

}
.cardDiv {
 max-width: 200px;
 background-color: white;
 border: white;
 max-height: fit-content;
 height :80%;
 min-height: 500px;
 max-height: 500px;
 flex-grow: 0;     /* do not grow   - initial value: 0 */
 flex-shrink: 0;
 margin-top:2em;
 
}
.paragraph-inside{
    text-indent: 1%;
    max-width: fit-content;
    max-height: fit-content;
    text-align: justify;

}

.fa-check-circle{
    left:0 !important;
    margin-top: 10%;
    top:-15px !important}
.fa-check-circle:hover{
    transform: rotateY(180deg);
}

@media (min-width: 576px) {
    :root {
      --size-divisor: 2;
    }
  }
  @media (min-width: 768px) {
    :root {
      --size-divisor: 1.5;
    }
  }
  @media (min-width: 992px) { 
    :root {
      --size-divisor: 1;
    }
  }
  @media (min-width: 1200px) { 
    :root {
      --size-divisor: .67;
    }
  }
 